@page "/deleteemployee/{id:int}"
@using BlazorApp1.Data
@using BlazorApp1.Models
@inject EmployeeService employeeService
@inject NavigationManager NavigationManager

<h1 class="colorBlue">
    Employee Details
</h1>
@if (employeeResult!=null)
{
    <EditForm Model="employeeResult1" OnValidSubmit="DeleteEmployeetAsync">
        <ul class="row forumBox">
            <li class="col-3">
                <label class="inputLabel">Employee ID</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputNumber @bind-Value="employeeResult1.ID" class="form-control" disabled="disabled" />
                </div>
            </li>

            <li class="col-3">
                <label class="inputLabel">Employee Name</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="employeeResult1.Name" class="form-control" disabled="disabled" />
                </div>
            </li>


           <li class="col-3">
                <label class="inputLabel">DOB</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="employeeResult1.DOB" class="form-control" disabled="disabled" />
                </div>
            </li>

            <li class="col-3">
                <label class="inputLabel">Designation</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="employeeResult1.Designation" class="form-control" disabled="disabled" />
                </div>
            </li>

            <li class="col-3">
                <label class="inputLabel">Location</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="employeeResult1.Location" class="form-control" disabled="disabled" />
                </div>
            </li>
            <li class="col-3">
                <label class="inputLabel">Email Address</label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="employeeResult1.Email_Address" class="form-control" disabled="disabled" />
                </div>
            </li>
          

            <li class="col-12 mt_20">
                <div class="form_btns">
                    <button type="button" class="common_btn btnBlue" @onclick="() => DeleteEmployeetAsync()">Delete</button>
                    <button class="common_btn btnWhite" @onclick="OnCancel">Cancel</button>
                </div>
            </li>


        </ul>
    </EditForm>
}

