<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EMP BLAZOR APP</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
     <nav class="flex-column">
        <div class="sidebar_list">
        <div class="leftBox">
        <div class="color_white bg_accent sidebar_dropdown has_list" @onclick="ToggleDropdown">
                    <a href="javascript:void(0);" class="white_arrow_drpdwn"></a><span class="oi oi-home" aria-hidden="true"></span> Employee
            </div>
        <div class="hidden_list" style="display: @ListDisplay">
                    <h6 class="color_title sidebar_dropdown">
                        <NavLink class="nav-link" href="employeedb">
                            <span class="oi oi-plus" aria-hidden="true"></span>Employee Data
                        </NavLink>
                    </h6>
                    <h6 class="color_title sidebar_dropdown">
                        <NavLink class="nav-link" href="addemployee">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Add Records
                        </NavLink>
                    </h6>
                    <h6 class="color_title sidebar_dropdown">
                        <NavLink class="nav-link" href="employeedblist">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Edit Records
                        </NavLink>
                    </h6>
                     <h6 class="color_title sidebar_dropdown">
                        <NavLink class="nav-link" href="employeedblistdetails">
                            <span class="oi oi-list-rich" aria-hidden="true"></span>Delete Records
                        </NavLink>
                    </h6>
                    <h6 class="color_title sidebar_dropdown">
                        <NavLink class="nav-link" href="softdelete">
                            <span class="oi oi-list-rich" aria-hidden="true"></span>Restore Records
                        </NavLink>
                    </h6>
        </div>
            </div>
        </div>
    </nav> 
</div>
